body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-image: url(./assets/background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#username {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
}

#password {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
}

#loginbtn {
    background-color: white;
    border: 1px solid black;
    color: rgb(41, 33, 33);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
}

#logoutbtn {
    display: none;
    background-color: 1px solid black;
    border: 1px solid black;
    color: rgb(41, 33, 33);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
}

#tryagainbtn {
    display: none;
    background-color: white;
    border: 1px solid black;
    color: rgb(41, 33, 33);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
}

#wronglogin {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    height: 5rem;
}